{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <span class="navbar-text fw-bold">
            &lt;FULLSTACK SOFTWARE DEVELOPER&gt;
        </span>
        <div class="image"><img src="{%static 'portfolio/binary.png'%}" alt="binary logo"></div>
            <span class="navbar-text fw-bold">
                &lt;/Lagonzalezdev&gt;
            </span>
            <li class="nav-item fw-bold">
            <a class="nav-link active" aria-current="page" href="#">ABOUT ME</a>
            </li>
            <li class="nav-item fw-bold">
            <a class="nav-link" href="#">SKILLS</a>
            </li>
            <li class="nav-item fw-bold">
            <a class="nav-link" href="#">PORTFOLIO</a>
            </li>
        </ul>
    </div>
    </div>
</nav>