{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand col-6 p-3">&lt; SOFTWARE <br> FULLSTACK <br>DEVELOPER &gt;</a>
        <ul class="navbar-nav">
            <div class=" d-flex direction-column container" style="background-image: url('/static/portfolio/bin.png');">
                <a class="navbar-brand">&lt;/LaGonzalezDev&gt;</a>
            </div>
            <li class="nav-item">
            <a class="nav-link" href="#about">ABOUT ME</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#skills">SKILLS</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#project">Portfolio</a>
            </li>
        </ul>
    
    </div>
</nav>