
{% extends 'layout.html'%}

{%block content%}

{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">
<section id="about" class="about">
    <div class="beige">
    <h2>LagonzalezDev.About_me</h2>
    <img src="{%static 'portfolio/girl_developer.png'%}" class="img-responsive" alt="girl">
    <p>Desarrolladora fullstack con experiencia experiencia en el análisis de requerimientos
    y ejecución de pruebas de software. Apasionada por el diseño y desarrollo de aplicaciones 
    web intuitivas y eficientes. Gran habilidad en la implementación de soluciones escalables y mantenibles. 
    Gran pasión por aprender y mantenerse actualizada en las últimas tendencias en tecnología. 
    Con comunicación asertiva, trabajo en equipo y orientada al detalle.</p>
</div>
</section>

<section id="skills" class="skills">
    <h2>LagonzalezDev.Skills</h2>
    <img src="{%static 'portfolio/figma.png'%}" alt="figma logo">
    <img src="{%static 'portfolio/html.png' %}" alt="html logo">
    <img src="{%static 'portfolio/css.png' %}" alt="css logo">
    <img src="{%static 'portfolio/sass.png'%}" alt="sass logo">
    <img src="{%static 'portfolio/javascript.png'%}" alt="javascript logo">
    <img src="{%static 'portfolio/angular.png'%}" alt="angular logo">
    <img src="{%static 'portfolio/npm.png'%}" alt="npm logo">
    <img src="{%static 'portfolio/node.png' %}" alt="node logo">
    <img src="{%static 'portfolio/ts.png'%}" alt="ts logo">
    <img src="{%static 'portfolio/git.png' %}" alt="git logo">
    <img src="{%static 'portfolio/python.png' %}" alt="python logo">
    <img src="{%static 'portfolio/sql.png' %}" alt="sql logo">
    <img src="{%static 'portfolio/fastapi.png' %}" alt="fastapi logo">
    <img src="{%static 'portfolio/django.png'%}" alt="django logo">
    <img src="{%static 'portfolio/github.png'%}" alt="github logo">
    <img src="{%static 'portfolio/wordpress.png' %}" alt="wordpress logo">
</section>
<section id="project" class="beige">
<div class="grid text-center">
    {%for project in projects%}
    <div class="g-col-6 g-col-md-4"><h2>{{ project.title}}</h2>
        <p>{{ project.description}}<p>
        
            {% if project.url %}
            <a href="{{ project.url }}">{{ project.url}}</a>
        
            {% endif %}
        {% endfor %}
        
        {% endblock %}
    </div>
    
    <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
    
    <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
  </div>
</section>
